body {
    overflow-x: hidden;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes pulse-green {

    0%,
    100% {
        box-shadow: 0 0 4px #24BB7D, 0 0 8px #24BB7D;
        opacity: 1;
    }

    50% {
        box-shadow: 0 0 8px #24BB7D, 0 0 12px #24BB7D;
        opacity: 0.85;
    }
}

.animate-pulse-green {
    animation: pulse-green 1.8s infinite;
}

.animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 20s linear infinite;
}

.swiper-pagination-bullet {
    background: white !important;
    /* titik warna putih */
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
    /* titik aktif warna biru */
    opacity: 1;
}

th {
    border-bottom: 1px solid #000;
}